@model OpenDiscussion_AutentificareIdentity.Models.AppUser
@{
    ViewBag.Title = "Users";
}

<br />
<br />

<div class="panel panel-default">
    <div class="panel-body">
        <h3 class="text-center">@ViewBag.Title</h3>
    </div>
</div>
<br />

<div class="panel panel-default">
    <div class="panel-heading">username: @Html.ActionLink(linkText: (string)Model.UserName, actionName: "Show", controllerName: "Account", routeValues: new { id = Model.Id }, htmlAttributes: null)</div>

    <div class="panel-body">
        <i class="glyphicon glyphicon-envelope"></i> email: <span class="label label-default">@Model.Email</span>
        <br /><br />

        <i class="glyphicon glyphicon-th-list"></i> role: @ViewBag.roleName
        <br /><br />
    </div>
</div>
