@{
	ViewBag.Title = "Explore";
}

<center>
    <h2 class="title_page">Explore the discussions</h2>
    <br />
    <br />
    
</center>

<h3 class="subtitle_page">Click on the purple button to see the entire discussion. Don't forget to comment on the post with what you think. It's a free country!</h3>
<br />
<br />
<br />
<br />
<br />


@if(ViewBag.Message != null)
{
	<h2 class="alert-succes">@ViewBag.Message></h2>
}

<br />

@foreach(OpenDiscussion_AutentificareIdentity.Models.Discussion discussion in ViewBag.Discussions)
{
	<div class ="card">
		@Html.Partial("DiscussionsInfo", discussion)
		<a class="btn btn-success" href="/Discussion/Show/@discussion.DiscussionId"> Show discussion </a>
	</div>
	<br />
	<br />
}


<div>
    <nav aria-label="Page navigation">
        <ul class="pagination">
            <li>
                <a href="/Discussion/Index?search=@(ViewBag.search)&page=1" aria-label="First">
                    <span aria-hidden="true">&laquo

                    </span>
                </a>
            </li>

            @for (int i = 1; i <= ViewBag.lastPage; i++)
            {
                <li><a href="/Discussion/Index?search=@(ViewBag.search)&page=@i">@(i)</a></li>
            }

            <li>
                <a href="/Discussion/Index?search=@(ViewBag.search)&page=@(ViewBag.lastPage)" aria-label="Last">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>

	