@{
    ViewData["Title"] = "Home Page";
}

<!Docype html>

<
<div class="text-center">
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li>
                @using (Html.BeginForm("Index", "Discussion", FormMethod.Get))
                {
                    <input class="form-control text-box single-line search-bar" name="search" type="text" value="@ViewBag.SearchString" placeholder="search...">
                }
            </li>
        </ul>
    </div>
</div>

</!Docype>