@model OpenDiscussion_AutentificareIdentity.Models.Category

@{
    ViewBag.Title = "Categories";
}

<h2>@ViewBag.Title</h2>

<br />




@foreach (var category in ViewBag.Categories)
{
        <p>@category.CategoryName</p>
        <a class="btn btn-success" href="/Categories/Edit/">Edit categories</a>
        <br />
}
<br />
<br />
<a class="btn btn-success" href="/Categories/Show/">Show categories</a>

<a class="btn btn-success" href="/Categories/New">Add a new category</a>
<br />

