@model OpenDiscussion_AutentificareIdentity.Models.Category


@{
    ViewBag.Title = "Categorii";
    
}

<h2>@ViewBag.Title</h2>

<br />

@if (ViewBag.Message != null)
{
    @:<div class="alert alert-info" role="alert">
        @ViewBag.Message
    @:</div>
}


@foreach (var category in ViewBag.Categories)
{
        <p>@category.CategoryName</p>
        <a class="btn btn-success" href="/Categories/Edit/">Modificare categorii</a>
        <br />
        <br />

          @foreach (OpenDiscussion_AutentificareIdentity.Models.Discussion discussion in ViewBag.Discussions)
    {
          @if(category.CategoryId == discussion.CategoryId)
        { 
            <div class="card" >
             <a class="btn btn-success" href ="/Discussion/Show/@discussion.DiscussionId"> @discussion.DiscussionName</a>
            </div>
            <br />
            <br />
          
        }
              
}
}
<br />


<div class="clearfix">
    <br />  
       <a class="btn btn-success" href="/Categories/New">Add a new category</a>
    <br />
</div>
      

