@model OpenDiscussion_AutentificareIdentity.Models.Category

@{
    ViewBag.Title = "Add new category";
}


<div class= "panel panel-default">
    <div class="panel-body">
        <center>
            <h1> @ViewBag.Title</h1>
        </center>
       
        @using (Html.BeginForm(actionName: "New", controllerName: "Categories", method: FormMethod.Post))
        {
            @Html.ValidationSummary(false, null , new { @class = "text-danger"})
            <h3>
                @Html.Label("CategoryName", "Category name")
            </h3>
            
            <br />
            @Html.TextBox("CategoryName", null, new { @class = "form-control" })

            //@Html.ValidationMessageFor(m => m.CategoryName, null, new { @class = "text-danger" })
            <br />

            <br />
            <center>
                <button class="btn btn-success" type="submit"> Submit category</button>
            </center>
           

        }
    </div>
</div>


