@model OpenDiscussion_AutentificareIdentity.Models.Category
@{
    ViewBag.Title = Model.CategoryName.ToString();
}

<br />
<br />

<div class="panel panel-default">
    <div class="panel-body">
        <h1 class="text-center">@ViewBag.Title</h1>
        <br />

        <div class="text-center">
            <a class="btn btn-primary" href="/Categories/Index">Categorii</a>
            <div class="clearfix"></div>
            <br />
        </div>
    </div>
</div>
<br />

@using (Html.BeginForm("Show", "Categories", FormMethod.Get, new { @class = "form-horizontal sortare" }))
{
    var selectList = new List<SelectListItem>();
    selectList.Add(new SelectListItem { Value = "titleAsc", Text = "Alfabetic (ascendent)" });
    selectList.Add(new SelectListItem { Value = "titleDesc", Text = "Alfabetic (descendent)" });
    selectList.Add(new SelectListItem { Value = "dateDesc", Text = "Data (cele mai recente)" });
    selectList.Add(new SelectListItem { Value = "dateAsc", Text = "Data (cele mai vechi)" });


    <div class="form-group">
        @Html.Label("sort", "Sortare", new { @class = "col-sm-2 control-label" })
        <div class="col-sm-3">
            @Html.DropDownList("sort", new SelectList(selectList, "Value", "Text"), null, new { @class = "form-control" })
        </div>
        <button type="submit" class="btn btn-default">Sorteaza</button>

       
        <a class="btn btn-primary" href="/Discussion/New/@Model.CategoryId">Discutie noua</a>
        
    </div>
}

<br />

<br />

@foreach (OpenDiscussion_AutentificareIdentity.Models.Discussion discussion in ViewBag.Discussions)
{
    <div class="panel panel-default">
        @Html.Partial("DiscussionsInfo", discussion)

        <div class="panel-footer">
            <a class="btn btn-success btn-sm" href="/Discussion/Show/@discussion.DiscussionId">Afisare subiect</a>
        </div>
    </div>
}
<a class="btn alert-success" href="/Categories/Index/">Show list of categories</a>

<br />
<hr />
<br />

