<style >
@import url('https://fonts.googleapis.com/css2?family=Cambay&display=swap');
</style >

html {
    font-size: 25px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.card-title py-3 px-3 rounded-2 text-light
{
    color: black;
}

.-body {
    background-color: #7f2c6e;
}

.logo img {
    float: left;
    margin: 30px 60px;
}

.logoo
{
    margin: 0px 40px;
}

.btn btn-danger {
    background-color: #7f2c6e;
}


html {
    position: relative

    min-height: 100%;
}

body {
    font-family: 'Cambay', sans-serif;
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #F0F8FF;
}

footer {
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 15px;
    font-display: block;
    font-family: 'Cambay', sans-serif;
}

.field-validation-valid {
    display: none;
}

.validation-summary-valid {
    display: none;
}

.navbar {
    border: none;
    box-shadow: 0 6px 12px;
}


a.nav-link {
    color: #636e72 !important;
}

    a.nav-link:hover {
        color: #c4c1e0 !important;
    }

.logoutbtn {
    color: #ffd2a5 !important;
}

    .logoutbtn:hover {
        color: #00b894 !important;
    }

.note-editor .dropdown-toggle::after {
    display: none;
}

.font-montserrat {
    font-family: 'Montserrat', sans-serif;
}

.font-roboto {
    font-family: 'Roboto', sans-serif;
}

.font-logo {
    font-family: 'Permanent Marker', cursive;
}

    .font-logo:hover {
        color: #00b894 !important;
    }

.footer-position {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #ffffff;
    text-align: center;
    box-shadow: 0 3px 12px #636e72;

}

.truncate {
    /* Required declarations: */
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    /* Limit the text block to x lines */
    -webkit-line-clamp: 5;
}

.btn btn-success {
    color: #7f2c6e;
}

.btn btn-outline-success {
    color: #7f2c6e;
}

.btn-success {
    background-color: #7f2c6e;
    border-color: #7f2c6e;
}


.text-center{
    position: center;
    background-color: pink;
}

.bckgd {
    background-color: #efe4e4;
}

.search-bar {
    margin-top: 0.5em;
    width: 250px;
}

.categ {
    font-size: 18px;
}

.btn-primary {
    background-color: #7f2c6e;
    border-color: #7f2c6e;
}

    .btn-primary:hover {
        background-color: #dbdbeb;
        border-color: #dbdbeb;
    }

.sortare {
    background-color: #F0F8FF;
    border-radius: 5px;
    padding: 15px 0px 1px 0px;
}

.inline {
    display: inline;
}

.d-flex flex-row justify-content-center m-5 text-light{
    background-color: darkorange;
}